n8n/Document GreenTrust.json
{
  "name": "Document GreenTrust",
  "nodes": [
    {
      "parameters": {
        "binaryProperty": "ktp",
        "options": {}
      },
      "type": "n8n-nodes-base.mistralAi",
      "typeVersion": 1,
      "position": [
        48,
        176
      ],
      "id": "e9ff2cef-820a-487c-aeed-18729f218c42",
      "name": "Extract text",
      "credentials": {
        "mistralCloudApi": {
          "id": "VIEGfjgKxzgis66f",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek-v4-flash",
          "mode": "list",
          "cachedResultName": "deepseek-v4-flash"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        144,
        496
      ],
      "id": "5c2a9c4a-a715-4150-83ed-383b029b7231",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "q7aB7V0hHKxRDm6k",
          "name": "Sumopod AI"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"provinsi\": \"DKI JAKARTA\",\n  \"kota_kabupaten\": \"JAKARTA BARAT\",\n  \"nik\": \"3173062901050004\",\n  \"nama\": \"MUHAMMAD IRZA DZULHIKA\",\n  \"tempat_lahir\": \"JAKARTA\",\n  \"tanggal_lahir\": \"29-01-2005\",\n  \"jenis_kelamin\": \"LAKI-LAKI\",\n  \"golongan_darah\": \"-\",\n  \"alamat\": {\n    \"jalan\": \"JL PERMATA\",\n    \"rt\": \"007\",\n    \"rw\": \"015\",\n    \"kel_desa\": \"TEGAL ALUR\",\n    \"kecamatan\": \"KALIDERES\"\n  },\n  \"agama\": \"ISLAM\",\n  \"status_perkawinan\": \"BELUM KAWIN\",\n  \"pekerjaan\": \"PELAJAR/MAHASISWA\",\n  \"kewarganegaraan\": \"WNI\",\n  \"berlaku_hingga\": \"SEUMUR HIDUP\",\n  \"tanggal_terbit\": \"04-03-2022\",\n  \"tempat_terbit\": \"JAKARTA BARAT\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        448,
        400
      ],
      "id": "34d53147-30bd-4653-84bd-a99f82508d0e",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "const parseJsonString = (value) => {\n  const cleaned = value\n    .trim()\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i, '')\n    .replace(/\\s*```$/i, '')\n    .trim();\n\n  return JSON.parse(cleaned);\n};\n\nlet raw = $json.output ?? $json.text ?? $json.response ?? $json;\n\nif (typeof raw === 'string') {\n  raw = parseJsonString(raw);\n}\n\nif (raw && typeof raw === 'object' && raw.output && typeof raw.output === 'object') {\n  raw = raw.output;\n}\n\nif (typeof raw === 'string') {\n  raw = parseJsonString(raw);\n}\n\nif (raw && typeof raw === 'object') {\n  return [{ json: raw }];\n}\n\nthrow new Error('Workflow tidak menghasilkan object JSON yang valid.');"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        176
      ],
      "id": "12ede451-b16d-4a9c-843e-a0db8bab1747",
      "name": "Normalize JSON Output"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Ekstrak data KTP dari teks OCR berikut.\n\nKembalikan HANYA satu object JSON valid, tanpa markdown, tanpa code fence ```json, tanpa kata pengantar, dan tanpa membungkus hasil dalam key seperti `output`, `data`, atau `result`.\n\nGunakan struktur persis berikut:\n{\n  \"provinsi\": \"\",\n  \"kota_kabupaten\": \"\",\n  \"nik\": \"\",\n  \"nama\": \"\",\n  \"tempat_lahir\": \"\",\n  \"tanggal_lahir\": \"\",\n  \"jenis_kelamin\": \"\",\n  \"golongan_darah\": \"\",\n  \"alamat\": {\n    \"jalan\": \"\",\n    \"rt\": \"\",\n    \"rw\": \"\",\n    \"kel_desa\": \"\",\n    \"kecamatan\": \"\"\n  },\n  \"agama\": \"\",\n  \"status_perkawinan\": \"\",\n  \"pekerjaan\": \"\",\n  \"kewarganegaraan\": \"\",\n  \"berlaku_hingga\": \"\",\n  \"tanggal_terbit\": \"\",\n  \"tempat_terbit\": \"\"\n}\n\nAturan:\n- Gunakan hanya data yang benar-benar ada di OCR.\n- Pertahankan format string apa adanya, termasuk NIK, tanggal, RT/RW.\n- Pisahkan `tempat_lahir` dan `tanggal_lahir` dari `Tempat/Tgl Lahir`.\n- Pisahkan `rt` dan `rw` dari `RT/RW`.\n- Jika nilai tidak ditemukan, isi dengan string kosong.\n\nOCR KTP:\n{{ $json.pages[0].markdown }}",
        "hasOutputParser": false,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        304,
        176
      ],
      "id": "22518e79-c9b2-4cba-b739-a23a58f6d2de",
      "name": "KTP Extractor"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-ktp",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -192,
        176
      ],
      "id": "af6cc312-b5f4-45a5-8183-cb4d66b098ec",
      "name": "Webhook",
      "webhookId": "03a6f598-930d-46b7-8ea0-2b672a3d9534"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        816,
        176
      ],
      "id": "0c95244d-cf1c-4279-b76e-4905808cc55c",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Extract text": {
      "main": [
        [
          {
            "node": "KTP Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "KTP Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "KTP Extractor": {
      "main": [
        [
          {
            "node": "Normalize JSON Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize JSON Output": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6446dc6e-6f6d-4f2e-a3f1-241f4bc753e7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e901acb807f6f1eb84add1628862abce2439962dc055c79b585eb9f923890bb7"
  },
  "id": "vNQ4T6pQS1MQRlP6",
  "tags": []
}
