n8n/Document GreenTrust.json
{
  "name": "Document GreenTrust",
  "nodes": [
    {
      "parameters": {
        "binaryProperty": "ktp",
        "options": {}
      },
      "type": "n8n-nodes-base.mistralAi",
      "typeVersion": 1,
      "position": [
        9920,
        5936
      ],
      "id": "3b65fdf3-9f9b-426a-a6a1-a71298d2751a",
      "name": "Extract text",
      "credentials": {
        "mistralCloudApi": {
          "id": "VIEGfjgKxzgis66f",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gemini/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "gemini/gemini-2.5-flash"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        10368,
        7056
      ],
      "id": "1a274a66-b6b7-42f7-97a3-1496db3164f9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "q7aB7V0hHKxRDm6k",
          "name": "Sumopod AI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const parseJsonString = (value) => {\n  const cleaned = value\n    .trim()\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i, '')\n    .replace(/\\s*```$/i, '')\n    .trim();\n\n  return JSON.parse(cleaned);\n};\n\nlet raw = $json.output ?? $json.text ?? $json.response ?? $json;\n\nif (typeof raw === 'string') {\n  raw = parseJsonString(raw);\n}\n\nif (raw && typeof raw === 'object' && raw.output && typeof raw.output === 'object') {\n  raw = raw.output;\n}\n\nif (typeof raw === 'string') {\n  raw = parseJsonString(raw);\n}\n\nif (raw && typeof raw === 'object') {\n  return [{ json: raw }];\n}\n\nthrow new Error('Workflow tidak menghasilkan object JSON yang valid.');"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10640,
        5936
      ],
      "id": "62ae10af-96d7-4596-9ab5-7a401425345d",
      "name": "Normalize JSON Output"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Ekstrak data KTP dari teks OCR berikut.\n\nKembalikan HANYA satu object JSON valid, tanpa markdown, tanpa code fence ```json, tanpa kata pengantar, dan tanpa membungkus hasil dalam key seperti `output`, `data`, atau `result`.\n\nGunakan struktur persis berikut:\n{\n  \"provinsi\": \"\",\n  \"kota_kabupaten\": \"\",\n  \"nik\": \"\",\n  \"nama\": \"\",\n  \"tempat_lahir\": \"\",\n  \"tanggal_lahir\": \"\",\n  \"jenis_kelamin\": \"\",\n  \"golongan_darah\": \"\",\n  \"alamat\": {\n    \"jalan\": \"\",\n    \"rt\": \"\",\n    \"rw\": \"\",\n    \"kel_desa\": \"\",\n    \"kecamatan\": \"\"\n  },\n  \"agama\": \"\",\n  \"status_perkawinan\": \"\",\n  \"pekerjaan\": \"\",\n  \"kewarganegaraan\": \"\",\n  \"berlaku_hingga\": \"\",\n  \"tanggal_terbit\": \"\",\n  \"tempat_terbit\": \"\"\n}\n\nAturan:\n- Gunakan hanya data yang benar-benar ada di OCR.\n- Pertahankan format string apa adanya, termasuk NIK, tanggal, RT/RW.\n- Pisahkan `tempat_lahir` dan `tanggal_lahir` dari `Tempat/Tgl Lahir`.\n- Pisahkan `rt` dan `rw` dari `RT/RW`.\n- Jika nilai tidak ditemukan, isi dengan string kosong.\n\nOCR KTP:\n{{ $json.pages[0].markdown }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        10272,
        5936
      ],
      "id": "f707f0d3-b53e-468b-8b14-8bfc651f4bf9",
      "name": "KTP Extractor"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        11056,
        5936
      ],
      "id": "c5c9aa8f-39ca-4fb6-9fb9-20cd7ae78ecf",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-ktp",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        9424,
        5936
      ],
      "id": "b93d83fd-2cbb-4643-bae5-5a85a5b96014",
      "name": "Extract KTP",
      "webhookId": "03a6f598-930d-46b7-8ea0-2b672a3d9534"
    },
    {
      "parameters": {
        "jsCode": "const source = $node[\"Scoring Docs Evidence\"].json ?? {};\nconst item = $input.first();\n\nconst parseJsonString = (value) => {\n  const cleaned = String(value)\n    .trim()\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i, '')\n    .replace(/\\s*```$/i, '')\n    .trim();\n  return JSON.parse(cleaned);\n};\n\nlet raw = item.json?.text ?? item.json?.response ?? item.json?.output ?? item.json;\nif (typeof raw === 'string') {\n  raw = parseJsonString(raw);\n}\nif (!raw || typeof raw !== 'object') {\n  throw new Error('Basic LLM Chain1 tidak menghasilkan JSON scoring yang valid.');\n}\n\nconst aiConfidence = Number(Math.max(0, Math.min(1, Number.parseFloat(String(raw.ai_confidence ?? source.ai_confidence ?? 0))))).toFixed(3);\nconst requirementId = source.requirement_id;\nconst categoryId = source.category_id;\nconst fileName = source.file_name || 'document-uploaded-file';\n\nreturn [{\n  json: {\n    ...source,\n    ai_confidence: Number(aiConfidence),\n    ai_scoring_reason: String(raw.reason ?? '').trim(),\n    upload_request: {\n      method: 'POST',\n      path: `/evidence/categories/${categoryId}/documents`,\n      formData: {\n        requirement_id: requirementId,\n        ai_confidence: aiConfidence\n      },\n      binary_field: 'document'\n    },\n    curl_preview: `curl --location -g 'https://experientially-unchallenging-amelie.ngrok-free.dev/api/v1/evidence/categories/${categoryId}/documents' \\\\\\n--header 'Authorization: Bearer REPLACE_WITH_USER_TOKEN' \\\\\\n--form 'requirement_id=\"${requirementId}\"' \\\\\\n--form 'document=@\"/${fileName}\"' \\\\\\n--form 'ai_confidence=\"${aiConfidence}\"'`\n  },\n  binary: $node[\"Scoring Docs Evidence\"].binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10880,
        6672
      ],
      "id": "291825ae-c137-463b-9759-6dd373058229",
      "name": "Build Evidence Upload Request"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        11504,
        6672
      ],
      "id": "e0ef9146-4aad-4b0b-8a03-35eaa8d8322d",
      "name": "Respond Evidence Webhook"
    },
    {
      "parameters": {
        "binaryProperty": "document",
        "options": {}
      },
      "type": "n8n-nodes-base.mistralAi",
      "typeVersion": 1,
      "position": [
        10000,
        6656
      ],
      "id": "888766f7-51dd-4e0e-a35a-198ee6e2f176",
      "name": "Extract Evidence Document",
      "credentials": {
        "mistralCloudApi": {
          "id": "VIEGfjgKxzgis66f",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "4f0f8f94-9471-48a5-b6c4-e5e8cdbe4899",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "leftValue": "={{ ((($binary.document ?? Object.values($binary ?? {})[0] ?? {}).mimeType ?? '') + '').toLowerCase() }}",
                    "rightValue": "image/"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "d4f7dd0a-2648-4dc3-9217-47d1a7c2d03e",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ ((($binary.document ?? Object.values($binary ?? {})[0] ?? {}).mimeType ?? '') + '') }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Document"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        9776,
        6576
      ],
      "id": "2e5dfb38-99d0-4691-b59b-f2cef3f41d0b",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "const webhook = $node[\"Evidence Vault\"];\nconst source = webhook.json ?? {};\nconst body = source.body ?? {};\nconst inputItem = $input.first();\nconst binarySource = inputItem.binary ?? webhook.binary ?? {};\nconst binaryPropertyName = binarySource.document ? 'document' : Object.keys(binarySource)[0];\nconst document = binaryPropertyName ? binarySource[binaryPropertyName] : null;\nif (!document || !binaryPropertyName) {\n  throw new Error('Form-data `document` wajib dikirim pada webhook Evidence Vault.');\n}\n\nconst mimeType = String(document.mimeType ?? '').trim();\nif (!mimeType.toLowerCase().startsWith('image/')) {\n  throw new Error(`Jalur image vision hanya menerima file image/*, tetapi menerima ${mimeType || 'mimeType kosong'}.`);\n}\n\nconst binaryBuffer = await this.helpers.getBinaryDataBuffer(0, binaryPropertyName);\nif (!binaryBuffer?.length) {\n  throw new Error('Binary image tidak berhasil dibaca dari input item untuk dikirim ke Alibaba Vision.');\n}\n\nconst requirementId = String(body.requirement_id ?? '').trim().toUpperCase();\nconst prompt = [\n  'Anda menilai bukti kategori Bahan Baku & Sourcing untuk GreenTrust Passport.',\n  requirementId ? `Requirement target: ${requirementId}.` : 'Requirement target belum dikirim.',\n  'Analisis gambar yang diunggah dan nilai seberapa kuat gambar ini mendukung requirement target.',\n  'Kembalikan JSON valid saja dengan schema berikut:',\n  '{\"image_summary\":\"\",\"visible_text\":[],\"visible_objects\":[],\"document_type_guess\":\"\",\"evidence_relevance\":\"\",\"ai_confidence\":0}',\n  'Aturan:',\n  '- image_summary: 1-3 kalimat ringkas terkait isi gambar.',\n  '- visible_text: array string teks yang benar-benar terlihat jika ada.',\n  '- visible_objects: array string objek utama yang relevan.',\n  '- document_type_guess: tebakan jenis dokumen/foto.',\n  '- evidence_relevance: alasan singkat keterkaitan gambar terhadap requirement.',\n  '- ai_confidence: angka 0 sampai 1, wajib 3 digit desimal. Contoh 0.873.',\n  '- Skor tinggi jika bukti visual sangat jelas dan relevan; skor rendah jika ambigu, blur, atau tidak mendukung requirement.',\n  '- Jangan kembalikan markdown atau teks di luar JSON.'\n].join('\\n');\n\nreturn [{\n  json: {\n    file_name: document.fileName ?? '',\n    mime_type: mimeType,\n    provided_requirement_id: requirementId,\n    provided_ai_confidence: String(body.ai_confidence ?? '').trim(),\n    alibaba_request: {\n      model: 'qwen-vl-plus',\n      response_format: { type: 'json_object' },\n      messages: [\n        {\n          role: 'system',\n          content: 'You are a precise evidence analyst. Return valid JSON only.'\n        },\n        {\n          role: 'user',\n          content: [\n            {\n              type: 'text',\n              text: prompt\n            },\n            {\n              type: 'image_url',\n              image_url: {\n                url: `data:${mimeType};base64,${binaryBuffer.toString('base64')}`\n              }\n            }\n          ]\n        }\n      ]\n    }\n  },\n  binary: {\n    document\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9936,
        6384
      ],
      "id": "121eac6d-1016-4c3c-9a8b-6a0caed42879",
      "name": "Prepare Image Vision Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dashscope-intl.aliyuncs.com/compatible-mode/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer sk-2e6190e1832b42359f5a9e213ae11ea0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.alibaba_request }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        10144,
        6384
      ],
      "id": "65612e04-c9e1-4cab-8a84-d312672568cb",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const source = $node[\"Prepare Image Vision Request\"].json ?? {};\nconst document = $node[\"Prepare Image Vision Request\"].binary?.document;\n\nif (!document) {\n  throw new Error(\"Binary document hilang sebelum proses scoring image evidence.\");\n}\n\nconst normalizeContent = (value) => {\n  if (value == null) {\n    return \"\";\n  }\n\n  if (typeof value === \"string\") {\n    return value.trim();\n  }\n\n  if (Array.isArray(value)) {\n    return value\n      .map((item) => {\n        if (typeof item === \"string\") return item;\n        if (item && typeof item === \"object\") {\n          if (typeof item.text === \"string\") return item.text;\n          if (typeof item.content === \"string\") return item.content;\n          if (typeof item.output_text === \"string\") return item.output_text;\n        }\n        return \"\";\n      })\n      .join(\"\\n\")\n      .trim();\n  }\n\n  if (typeof value === \"object\") {\n    if (typeof value.text === \"string\") return value.text.trim();\n    if (typeof value.content === \"string\") return value.content.trim();\n    if (typeof value.output_text === \"string\") return value.output_text.trim();\n\n    if (\n      \"image_summary\" in value ||\n      \"visible_text\" in value ||\n      \"visible_objects\" in value ||\n      \"document_type_guess\" in value ||\n      \"evidence_relevance\" in value ||\n      \"ai_confidence\" in value\n    ) {\n      return value;\n    }\n  }\n\n  return String(value).trim();\n};\n\nconst extractJsonObject = (text) => {\n  const cleaned = String(text)\n    .trim()\n    .replace(/^```json\\s*/i, \"\")\n    .replace(/^```\\s*/i, \"\")\n    .replace(/\\s*```$/i, \"\")\n    .trim();\n\n  try {\n    return JSON.parse(cleaned);\n  } catch {}\n\n  const firstBrace = cleaned.indexOf(\"{\");\n  if (firstBrace === -1) {\n    throw new Error(\"Alibaba vision tidak mengandung object JSON.\");\n  }\n\n  let depth = 0;\n  let inString = false;\n  let escaped = false;\n  let start = -1;\n\n  for (let i = firstBrace; i < cleaned.length; i++) {\n    const ch = cleaned[i];\n\n    if (escaped) {\n      escaped = false;\n      continue;\n    }\n\n    if (ch === \"\\\\\") {\n      escaped = true;\n      continue;\n    }\n\n    if (ch === \"\\\"\") {\n      inString = !inString;\n      continue;\n    }\n\n    if (inString) {\n      continue;\n    }\n\n    if (ch === \"{\") {\n      if (depth === 0) start = i;\n      depth++;\n      continue;\n    }\n\n    if (ch === \"}\") {\n      depth--;\n\n      if (depth === 0 && start !== -1) {\n        const candidate = cleaned.slice(start, i + 1);\n        try {\n          return JSON.parse(candidate);\n        } catch (error) {\n          throw new Error(\"Alibaba vision mengembalikan JSON tidak valid: \" + error.message);\n        }\n      }\n    }\n  }\n\n  throw new Error(\"Alibaba vision tidak mengembalikan object JSON lengkap.\");\n};\n\nconst rawContent =\n  $json?.choices?.[0]?.message?.content ??\n  $json?.output_text ??\n  $json?.content ??\n  $json;\n\nconst normalizedContent = normalizeContent(rawContent);\nconst vision =\n  normalizedContent && typeof normalizedContent === \"object\"\n    ? normalizedContent\n    : extractJsonObject(normalizedContent);\n\nif (!vision || typeof vision !== \"object\" || Array.isArray(vision)) {\n  throw new Error(\"Alibaba vision tidak mengembalikan object JSON yang valid.\");\n}\n\nconst visibleText = Array.isArray(vision.visible_text)\n  ? vision.visible_text.map((item) => String(item).trim()).filter(Boolean)\n  : [];\n\nconst visibleObjects = Array.isArray(vision.visible_objects)\n  ? vision.visible_objects.map((item) => String(item).trim()).filter(Boolean)\n  : [];\n\nconst aiSummary = String(vision.image_summary ?? \"\").trim();\nconst evidenceRelevance = String(vision.evidence_relevance ?? \"\").trim();\nconst documentTypeGuess = String(vision.document_type_guess ?? \"\").trim();\n\nconst providedRequirementId = String(source.provided_requirement_id ?? \"\")\n  .trim()\n  .toUpperCase();\n\nconst categoryId = providedRequirementId.split(\"-\")[0] || \"BB\";\n\nlet aiConfidence = Number.parseFloat(String(vision.ai_confidence ?? \"\"));\n\nif (!Number.isFinite(aiConfidence)) {\n  aiConfidence = 0;\n}\n\naiConfidence = Math.max(0, Math.min(1, aiConfidence));\naiConfidence = Number(aiConfidence.toFixed(3));\n\nconst confidenceBand =\n  aiConfidence >= 0.8 ? \"high\" : aiConfidence >= 0.6 ? \"medium\" : \"low\";\n\nreturn [\n  {\n    json: {\n      category_id: categoryId,\n      category_name: \"Bahan Baku & Sourcing\",\n      category_weight: 20,\n      source_type: \"image_vision\",\n      provided_requirement_id: providedRequirementId || \"\",\n      requirement_id: providedRequirementId || \"\",\n      ai_confidence: aiConfidence,\n      confidence_band: confidenceBand,\n      ai_summary:\n        aiSummary ||\n        evidenceRelevance ||\n        documentTypeGuess ||\n        \"Analisis gambar berhasil dibuat.\",\n      ocr_excerpt: visibleText.slice(0, 8).join(\" | \").slice(0, 500),\n      file_name: source.file_name ?? \"\",\n      mime_type: source.mime_type ?? \"\",\n      vision_analysis: {\n        image_summary: aiSummary,\n        visible_text: visibleText,\n        visible_objects: visibleObjects,\n        document_type_guess: documentTypeGuess,\n        evidence_relevance: evidenceRelevance,\n        ai_confidence: aiConfidence\n      }\n    },\n    binary: {\n      document: document\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10416,
        6384
      ],
      "id": "353d1298-c487-4436-be9b-e7fe13bf0312",
      "name": "Scoring Image Evidence"
    },
    {
      "parameters": {
        "jsCode": "const webhook = $node[\"Evidence Vault\"];\nconst source = webhook.json ?? {};\nconst body = source.body ?? {};\nconst binarySource = webhook.binary ?? {};\nconst document = binarySource.document ?? Object.values(binarySource)[0];\nif (!document) {\n  throw new Error('Form-data `document` wajib dikirim pada webhook Evidence Vault.');\n}\n\nconst categoryCatalog = {\n  BB: {\n    name: 'Bahan Baku & Sourcing',\n    weight: 20,\n    requirements: [\n      {\n        id: 'BB-001',\n        name: 'Nota / invoice pembelian bahan baku',\n        description: 'Dokumen bukti pembelian bahan baku dari supplier, dapat berupa nota, invoice, atau bukti transaksi pembelian.',\n        keywords: ['nota', 'invoice', 'faktur', 'pembelian', 'supplier', 'qty', 'jumlah', 'harga', 'total', 'transaksi'],\n        preferImage: false,\n        preferText: true\n      },\n      {\n        id: 'BB-002',\n        name: 'Surat jalan dari supplier',\n        description: 'Dokumen pengiriman dari supplier yang membuktikan asal dan alur distribusi bahan baku.',\n        keywords: ['surat jalan', 'delivery order', 'pengiriman', 'supplier', 'diterima', 'tujuan', 'tanggal kirim', 'alamat kirim'],\n        preferImage: false,\n        preferText: true\n      },\n      {\n        id: 'BB-003',\n        name: 'Foto atau profil supplier',\n        description: 'Dokumentasi visual atau profil singkat supplier untuk memperkuat bukti sumber bahan baku.',\n        keywords: ['supplier', 'pemasok', 'profil', 'profile', 'toko', 'alamat', 'kontak', 'foto'],\n        preferImage: true,\n        preferText: false\n      }\n    ]\n  },\n  PP: {\n    name: 'Proses Produksi',\n    weight: 20,\n    requirements: [\n      {\n        id: 'PP-001',\n        name: 'Foto dokumentasi proses produksi',\n        description: 'Foto atau dokumentasi visual proses produksi yang sedang berjalan.',\n        keywords: ['produksi', 'workshop', 'proses', 'operator', 'mesin', 'batik', 'pewarna', 'pengerjaan'],\n        preferImage: true,\n        preferText: false\n      },\n      {\n        id: 'PP-002',\n        name: 'SOP atau prosedur kerja tertulis',\n        description: 'Dokumen SOP, instruksi kerja, atau alur proses produksi yang tertulis.',\n        keywords: ['sop', 'prosedur', 'instruksi kerja', 'alur proses', 'standar kerja', 'quality control', 'qc'],\n        preferImage: false,\n        preferText: true\n      },\n      {\n        id: 'PP-003',\n        name: 'Rekaman kegiatan produksi',\n        description: 'Video, foto seri, atau bukti batch produksi yang menunjukkan aktivitas operasional.',\n        keywords: ['batch', 'produksi', 'rekaman', 'foto seri', 'aktivitas', 'label batch', 'checklist qc'],\n        preferImage: true,\n        preferText: false\n      }\n    ]\n  },\n  PL: {\n    name: 'Pengelolaan Limbah',\n    weight: 20,\n    requirements: [\n      {\n        id: 'PL-001',\n        name: 'Manifest atau catatan pengelolaan limbah',\n        description: 'Catatan pengangkutan, manifest, atau log pengelolaan limbah usaha.',\n        keywords: ['limbah', 'manifest', 'pengelolaan', 'pengangkutan', 'log limbah', 'bank sampah'],\n        preferImage: false,\n        preferText: true\n      },\n      {\n        id: 'PL-002',\n        name: 'Foto fasilitas pengolahan limbah',\n        description: 'Foto IPAL, TPS, area pemilahan, atau fasilitas pengolahan limbah lainnya.',\n        keywords: ['ipal', 'tps', 'pemilahan', 'limbah', 'bak limbah', 'drum limbah', 'sampah terpisah'],\n        preferImage: true,\n        preferText: false\n      },\n      {\n        id: 'PL-003',\n        name: 'Kontrak atau bukti kerja sama pengelola limbah',\n        description: 'Kontrak pihak ketiga atau bukti reuse/recycle material limbah.',\n        keywords: ['kontrak', 'pihak ketiga', 'recycle', 'reuse', 'pengelola limbah', 'nota penjualan limbah'],\n        preferImage: false,\n        preferText: true\n      }\n    ]\n  },\n  EE: {\n    name: 'Energi & Emisi',\n    weight: 15,\n    requirements: [\n      {\n        id: 'EE-001',\n        name: 'Tagihan listrik atau energi usaha',\n        description: 'Tagihan listrik, energi, atau utilitas usaha minimal beberapa bulan terakhir.',\n        keywords: ['tagihan listrik', 'pln', 'kwh', 'rekening listrik', 'pemakaian listrik', 'energi'],\n        preferImage: false,\n        preferText: true\n      },\n      {\n        id: 'EE-002',\n        name: 'Dokumentasi sumber energi atau peralatan hemat energi',\n        description: 'Foto panel surya, lampu LED, mesin efisien, atau sumber energi terbarukan.',\n        keywords: ['panel surya', 'solar panel', 'lampu led', 'hemat energi', 'energi terbarukan', 'inverter'],\n        preferImage: true,\n        preferText: false\n      },\n      {\n        id: 'EE-003',\n        name: 'Catatan konsumsi energi atau bahan bakar',\n        description: 'Rekap konsumsi energi bulanan, bahan bakar, atau kalkulator emisi.',\n        keywords: ['konsumsi energi', 'bahan bakar', 'emisi', 'rekap meter', 'solar', 'bensin', 'diesel'],\n        preferImage: false,\n        preferText: true\n      }\n    ]\n  },\n  SK: {\n    name: 'Sosial & Ketenagakerjaan',\n    weight: 15,\n    requirements: [\n      {\n        id: 'SK-001',\n        name: 'Daftar karyawan dan nominal gaji',\n        description: 'Daftar pekerja aktif, slip upah, atau bukti pembayaran gaji.',\n        keywords: ['karyawan', 'pekerja', 'gaji', 'upah', 'slip gaji', 'payroll'],\n        preferImage: false,\n        preferText: true\n      },\n      {\n        id: 'SK-002',\n        name: 'Bukti kepesertaan BPJS',\n        description: 'Dokumen BPJS Kesehatan/Ketenagakerjaan atau bukti kepesertaan pekerja.',\n        keywords: ['bpjs', 'ketenagakerjaan', 'kesehatan', 'kepesertaan'],\n        preferImage: false,\n        preferText: true\n      },\n      {\n        id: 'SK-003',\n        name: 'Foto lingkungan kerja atau APD',\n        description: 'Foto area kerja, alat pelindung diri, atau briefing keselamatan.',\n        keywords: ['apd', 'lingkungan kerja', 'briefing', 'keselamatan', 'k3', 'helm', 'masker'],\n        preferImage: true,\n        preferText: false\n      },\n      {\n        id: 'SK-004',\n        name: 'Kontrak kerja atau aturan keselamatan kerja',\n        description: 'Kontrak kerja, poster K3, SOP keselamatan, atau dokumen hubungan kerja.',\n        keywords: ['kontrak kerja', 'perjanjian kerja', 'poster k3', 'keselamatan kerja', 'aturan kerja'],\n        preferImage: false,\n        preferText: true\n      }\n    ]\n  },\n  LK: {\n    name: 'Legalitas & Kepatuhan',\n    weight: 10,\n    requirements: [\n      {\n        id: 'LK-001',\n        name: 'NIB atau legalitas usaha',\n        description: 'Nomor Induk Berusaha atau izin usaha utama.',\n        keywords: ['nib', 'izin usaha', 'oss', 'nomor induk berusaha'],\n        preferImage: false,\n        preferText: true\n      },\n      {\n        id: 'LK-002',\n        name: 'NPWP usaha',\n        description: 'NPWP badan/usaha atau dokumen perpajakan usaha.',\n        keywords: ['npwp', 'pajak', 'nomor pokok wajib pajak'],\n        preferImage: false,\n        preferText: true\n      },\n      {\n        id: 'LK-003',\n        name: 'Izin usaha atau domisili',\n        description: 'SIUP, surat domisili, izin lokasi, atau dokumen sejenis.',\n        keywords: ['siup', 'domisili', 'izin lokasi', 'surat domisili', 'izin lingkungan'],\n        preferImage: false,\n        preferText: true\n      },\n      {\n        id: 'LK-004',\n        name: 'Dokumen kepatuhan tambahan',\n        description: 'SPPL, sertifikat usaha mikro, atau dokumen kepatuhan tambahan lainnya.',\n        keywords: ['sppl', 'sertifikat usaha mikro', 'kepatuhan', 'izin lingkungan'],\n        preferImage: false,\n        preferText: true\n      }\n    ]\n  }\n};\n\nconst pages = Array.isArray($json.pages) ? $json.pages : [];\nconst ocrText = pages.map((page) => page.markdown ?? page.text ?? '').join('\\n\\n').trim();\nconst normalizedText = `${String(document.fileName ?? '')}\\n${ocrText}`.toLowerCase();\nconst mimeType = String(document.mimeType ?? '').toLowerCase();\nconst providedRequirementId = String(body.requirement_id ?? '').trim().toUpperCase();\nconst providedConfidence = Number.parseFloat(String(body.ai_confidence ?? '').trim());\nconst categoryId = providedRequirementId.split('-')[0] || 'BB';\nconst categoryMeta = categoryCatalog[categoryId];\n\nif (!categoryMeta) {\n  throw new Error(`category_id ${categoryId} belum didukung pada Scoring Docs Evidence.`);\n}\n\nconst requirements = categoryMeta.requirements;\n\nconst evaluate = (requirement) => {\n  const matches = requirement.keywords.filter((keyword) => normalizedText.includes(keyword));\n  let score = 0.2 + matches.length * 0.1;\n\n  if (requirement.preferImage && mimeType.startsWith('image/')) score += 0.08;\n  if (requirement.preferText && ocrText.length >= 40) score += 0.08;\n  if (ocrText.length >= 120) score += 0.04;\n  if (!ocrText && requirement.preferImage && mimeType.startsWith('image/')) score += 0.06;\n\n  return {\n    ...requirement,\n    matches,\n    score: Math.max(0.05, Math.min(0.98, Number(score.toFixed(2))))\n  };\n};\n\nconst ranked = requirements.map(evaluate).sort((left, right) => right.score - left.score);\nconst bestMatch = ranked[0];\nconst selectedMatch = providedRequirementId\n  ? ranked.find((item) => item.id === providedRequirementId) ?? bestMatch\n  : bestMatch;\n\nlet aiConfidence = selectedMatch.score;\nif (Number.isFinite(providedConfidence) && providedConfidence >= 0 && providedConfidence <= 1) {\n  aiConfidence = Number(providedConfidence.toFixed(2));\n} else if (providedRequirementId && bestMatch.id !== providedRequirementId && bestMatch.score - selectedMatch.score >= 0.12) {\n  aiConfidence = Math.max(0.2, Number((selectedMatch.score - 0.15).toFixed(2)));\n}\n\nconst confidenceBand = aiConfidence >= 0.8 ? 'high' : aiConfidence >= 0.6 ? 'medium' : 'low';\nconst summarySignals = selectedMatch.matches.length > 0 ? selectedMatch.matches.slice(0, 5).join(', ') : 'indikasi teks/visual masih minim';\n\nreturn [{\n  json: {\n    category_id: categoryId,\n    category_name: categoryMeta.name,\n    category_weight: categoryMeta.weight,\n    source_type: 'ocr_document',\n    provided_requirement_id: providedRequirementId || '',\n    requirement_id: selectedMatch.id,\n    requirement_name: selectedMatch.name,\n    requirement_description: selectedMatch.description,\n    suggested_requirement_id: bestMatch.id,\n    suggested_requirement_name: bestMatch.name,\n    ai_confidence: Number(aiConfidence.toFixed(2)),\n    confidence_band: confidenceBand,\n    ai_summary: `Dokumen paling dekat dengan ${selectedMatch.id} (${selectedMatch.name}). Sinyal utama: ${summarySignals}.`,\n    ocr_excerpt: ocrText.slice(0, 500),\n    file_name: document.fileName ?? '',\n    mime_type: document.mimeType ?? '',\n    scoring: {\n      best_match: {\n        requirement_id: bestMatch.id,\n        score: bestMatch.score,\n        matches: bestMatch.matches\n      },\n      selected_match: {\n        requirement_id: selectedMatch.id,\n        score: Number(aiConfidence.toFixed(2)),\n        matches: selectedMatch.matches\n      },\n      candidates: ranked.map((item) => ({\n        requirement_id: item.id,\n        score: item.score,\n        matches: item.matches\n      }))\n    }\n  },\n  binary: {\n    document\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10240,
        6672
      ],
      "id": "d942546f-4a9d-4e50-acd6-a576e805950c",
      "name": "Scoring Docs Evidence"
    },
    {
      "parameters": {
        "jsCode": "const source = $node[\"Scoring Image Evidence\"].json ?? {};\nconst item = $input.first();\n\nconst parseJsonString = (value) => {\n  const cleaned = String(value)\n    .trim()\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i, '')\n    .replace(/\\s*```$/i, '')\n    .trim();\n  return JSON.parse(cleaned);\n};\n\nlet raw = item.json?.text ?? item.json?.response ?? item.json?.output ?? item.json;\nif (typeof raw === 'string') {\n  raw = parseJsonString(raw);\n}\nif (!raw || typeof raw !== 'object') {\n  throw new Error('Basic LLM Chain tidak menghasilkan JSON scoring yang valid.');\n}\n\nconst aiConfidence = Number(Math.max(0, Math.min(1, Number.parseFloat(String(raw.ai_confidence ?? source.ai_confidence ?? 0))))).toFixed(3);\nconst requirementId = source.requirement_id;\nconst categoryId = source.category_id;\nconst fileName = source.file_name || 'document-uploaded-file';\n\nreturn [{\n  json: {\n    ...source,\n    ai_confidence: Number(aiConfidence),\n    ai_scoring_reason: String(raw.reason ?? '').trim(),\n    upload_request: {\n      method: 'POST',\n      path: `/evidence/categories/${categoryId}/documents`,\n      formData: {\n        requirement_id: requirementId,\n        ai_confidence: aiConfidence\n      },\n      binary_field: 'document'\n    },\n    curl_preview: `curl --location -g 'https://experientially-unchallenging-amelie.ngrok-free.dev/api/v1/evidence/categories/${categoryId}/documents' \\\\\\n--header 'Authorization: Bearer REPLACE_WITH_USER_TOKEN' \\\\\\n--form 'requirement_id=\"${requirementId}\"' \\\\\\n--form 'document=@\"/${fileName}\"' \\\\\\n--form 'ai_confidence=\"${aiConfidence}\"'`\n  },\n  binary: $node[\"Scoring Image Evidence\"].binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11168,
        6384
      ],
      "id": "5fa872b2-f572-496b-8e37-48185afe5c77",
      "name": "Build Evidence Upload Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://experientially-unchallenging-amelie.ngrok-free.dev/api/v1{{$json.upload_request.path}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Evidence Vault').item.json.headers.authorization }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "requirement_id",
              "value": "={{ $json.upload_request.formData.requirement_id }}"
            },
            {
              "name": "ai_confidence",
              "value": "={{ $json.upload_request.formData.ai_confidence }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "document",
              "inputDataFieldName": "document"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        11584,
        6384
      ],
      "id": "f500cebe-9e14-441f-bd88-710f28351619",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://experientially-unchallenging-amelie.ngrok-free.dev/api/v1{{$json.upload_request.path}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Evidence Vault').item.json.headers.authorization }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "requirement_id",
              "value": "={{ $json.upload_request.formData.requirement_id }}"
            },
            {
              "name": "ai_confidence",
              "value": "={{ $json.upload_request.formData.ai_confidence }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "document",
              "inputDataFieldName": "document"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        11200,
        6672
      ],
      "id": "a335514c-94be-4f69-ae9d-40d265187baf",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        11792,
        6384
      ],
      "id": "c5fc1265-4e2c-4e61-8f6f-6e4845f257eb",
      "name": "Respond Evidence Webhook1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Anda menilai confidence bukti image untuk GreenTrust Passport.\n\nRequirement target: {{ $json.requirement_id }}\nCategory: {{ $json.category_id }}\nRingkasan analisis image: {{ $json.ai_summary }}\nTeks terlihat: {{ $json.ocr_excerpt }}\nAnalisis vision: {{ JSON.stringify($json.vision_analysis) }}\n\nTugas:\n- Nilai seberapa kuat bukti ini mendukung requirement target.\n- Kembalikan HANYA object JSON valid.\n- Schema: {\"ai_confidence\":0.000,\"reason\":\"\"}\n- ai_confidence harus angka 0 sampai 1 dengan 3 digit desimal.\n- reason maksimal 1 kalimat singkat.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        10736,
        6384
      ],
      "id": "d207735d-1f71-4968-9684-9070e4ab0f8b",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Anda menilai confidence bukti dokumen untuk GreenTrust Passport.\n\nRequirement target: {{ $json.requirement_id }}\nRequirement name: {{ $json.requirement_name }}\nCategory: {{ $json.category_id }}\nRingkasan heuristik: {{ $json.ai_summary }}\nOCR excerpt: {{ $json.ocr_excerpt }}\nScoring candidates: {{ JSON.stringify($json.scoring) }}\n\nTugas:\n- Nilai seberapa kuat dokumen ini mendukung requirement target.\n- Kembalikan HANYA object JSON valid.\n- Schema: {\"ai_confidence\":0.000,\"reason\":\"\"}\n- ai_confidence harus angka 0 sampai 1 dengan 3 digit desimal.\n- reason maksimal 1 kalimat singkat.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        10544,
        6672
      ],
      "id": "02e2961d-c4c0-4fcb-8f30-3994b594ac0a",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evidence-docs",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        9536,
        6576
      ],
      "id": "4dc94735-07a6-435d-b8c8-18b785900176",
      "name": "Evidence Vault",
      "webhookId": "11617f8a-cd44-4f7d-a3d7-5d1a1a6259d1"
    }
  ],
  "pinData": {},
  "connections": {
    "Extract text": {
      "main": [
        [
          {
            "node": "KTP Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "KTP Extractor",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "KTP Extractor": {
      "main": [
        [
          {
            "node": "Normalize JSON Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize JSON Output": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract KTP": {
      "main": [
        [
          {
            "node": "Extract text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Evidence Upload Request": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Evidence Document": {
      "main": [
        [
          {
            "node": "Scoring Docs Evidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Prepare Image Vision Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Evidence Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Image Vision Request": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Scoring Image Evidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scoring Docs Evidence": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scoring Image Evidence": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Evidence Upload Request1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Respond Evidence Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Respond Evidence Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Build Evidence Upload Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Build Evidence Upload Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evidence Vault": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d357b1cd-68d8-423e-9ab1-3c2cae8f065e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e901acb807f6f1eb84add1628862abce2439962dc055c79b585eb9f923890bb7"
  },
  "id": "vNQ4T6pQS1MQRlP6",
  "tags": []
}
